* {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: lighter;
}

body {
  background-color: #111b21;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  background-color: white;
  font-size: 17px;
  font-weight: bolder;
  display: flex;
  position: fixed;
  width: 100%;
  z-index: 100;
  padding-top: 10px;
  padding-bottom: 15px;
  justify-content: space-between;
  align-items: center;
}

nav {
  display: flex;
  justify-content: center;
  max-width: 70%;
  padding: 1.2rem;
  color: black;
}

.logo {
  width: 125px;
  padding-left: 20px;
  padding-top: 11px;
  margin-left: 16px;
  margin-right: 214px;
}

.butonhdn {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  font-size: 16px;
}

.center-link {
  margin-right: 35px;
  position: relative;
}

.center-link::after {
  content: "";
  height: 2px;
  width: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #25d366;
  transition: width 0.4s ease-out;
}

.center-link:hover::after {
  width: 100%;
}

.right-nav {
  border-radius: 50px;
  padding: 16px 28px;
}

.web {
  margin-right: 20px;
}

.download {
  border: 1px solid black;
  border-radius: 50px;
  padding: 15px 28px;
  background-color: #25d366;
  align-items: center;
  justify-content: center;
}

.hidden-section {
  gap: 25px;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: white;
  position: fixed;
  margin-top: 80px;
  z-index: 100;
  padding-bottom: 28px;
  padding-top: 10px;
  flex-wrap: wrap;
}

div a div {
  gap: 22px;
  display: flex;
  flex-direction: column;
  padding: 25px;
  width: 200px;
  height: 200px;
  border: 1px solid rgba(0, 0, 0, 0.164);
  border-radius: 30px;
}

a div h5 {
  font-size: 22px;
}

a div p {
  font-size: 18px;
}

svgdiv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33px;
  height: 33px;
  background-color: #25d366;
  color: white;
  border-radius: 50px;
}

/* ****************** */

stupid-div {
  position: relative;
}

main {
  background-color: #e6ffda;
  padding-top: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.ext {
  display: flex;
  flex-direction: column;
  width: 1075px;
  background-color: #e6ffda;
  padding-top: 95px;
  padding-left: 27px;
  padding-right: 27px;
  padding-bottom: 55px;
}

.upper-text {
  display: flex;
  margin-bottom: 100px;
  justify-content: space-between;
}

.p1 {
  font-size: 60px;
}

.text {
  display: flex;
  max-width: 439px;
  flex-wrap: wrap;
}

.p2 {
  font-size: 18px;
}

.p3 {
  font-size: 12px;
}

.cards {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  align-items: center;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: space-between;
  background-color: #111b21;
  color: white;
  border-radius: 25px;
  width: min-content;
  min-height: 372px;
  min-width: 252px;
  padding: 26px 22px 58px;
}

.card:hover {
  background-color: #25d366;
  color: black;
}

.cards .card h3 {
  font-size: 50px;
}

.cards .card p {
  font-size: 12px;
  margin-bottom: 70px;
}

.google-img {
  width: 190px;
}

.apple-img {
  margin-bottom: 10px;
  width: 154px;
}

.cards .card .download-img {
  margin-bottom: 10px;
  border-radius: 50px;
  padding: 15px 50px;
  background-color: white;
  color: black;
  align-items: center;
  justify-content: center;
}

.p4 {
  margin-top: 55px;
  text-align: center;
}

.p4 a {
  text-decoration: revert;
}

.section-ext {
  overflow: hidden;
  background-color: white;
  display: flex;
  justify-content: center;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.mid-section {
  padding-top: 95px;
  padding-bottom: 135px;
  width: 1075px;
  display: flex;
}

.carusel-content {
  display: flex;
  gap: 183px;
  flex-direction: column;
}

div div h2 {
  font-size: 60px;
}

.carusel-text {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.buttons {
  display: flex;
  gap: 16px;
}

.button {
  background-color: transparent;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  border: 1px solid rgba(0, 0, 0);
  border-radius: 30px;
  width: 45px;
  height: 45px;
}

.poze {
  display: flex;
  gap: 16px;
  margin-left: 57px;
}

.poze div img {
  border-radius: 30px;
}

.poze div h3 {
  font-size: 30px;
  margin-top: 35px;
  margin-bottom: 11px;
}

.poze div span {
  font-size: 15px;
  position: relative;
}

.poze div a {
  position: relative;
  display: flex;
  width: 100px;
  justify-content: space-between;
}

.poze div svg {
  position: relative;
  top: 4px;
}

.poze div a:hover {
  color: #25d366;
}

.poze div span::after {
  content: "";
  height: 2px;
  width: 100%;
  position: absolute;
  bottom: -5px;
  left: 0;
  background-color: #25d366;
}

footer {
  color: white;
  display: flex;
  justify-content: center;
}

upper-section {
  width: 1075px;
  display: flex;
  justify-content: space-between;
  padding-top: 95px;
  padding-bottom: 92px;
}

.left-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.spdow {
  color: black;
  border: 1px solid black;
  border-radius: 50px;
  padding: 15px 28px;
  background-color: #25d366;
  align-items: center;
  justify-content: center;
}

ul {
  list-style-type: none;
  margin-bottom: 13px;
}

.column p {
  font-size: 12px;
}

ul li a {
  font-size: 18px;
}

ul li a:hover {
  text-decoration: underline;
}

ul li {
  margin-top: 28px;
}

hr {
  border: none;
  height: 1px;
  background-color: #e6ffda33;
}

bottom-section {
  display: flex;
  justify-content: space-between;
  padding-top: 35px;
  padding-bottom: 35px;
}

.terms {
  font-size: 12px;
  display: flex;
  gap: 65px;
  align-content: center;
  flex-wrap: wrap;
}

.social {
  display: flex;
  gap: 24px;
}

.social a {
  background-color: #111b21;
  height: 45px;
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  border-radius: 50px;
}

.social a svg {
  width: 15px;
}

.language {
  margin-left: 80px;
}

.lng-btn {
  display: flex;
  justify-content: space-between;
  width: 215px;
  color: white;
  border: 2px solid white;
  background-color: #111b21;
  border-radius: 50px;
  font-size: 16px;
  padding: 16px 28px;
}

.lng-btn span {
  font-weight: bold;
}

.lng-btn svg {
  margin-top: 3px;
}
